
.jumbotron.text-center
	.h1 Welcome abord ! 
	.br
	.h1
		= @earlyadopter.name

		
	.br	  
.jumbotron.text-center
	.h3 We rae going to kill the mail together !
	.br
	.h3 We are currently in dev and will come back to you once we are ready.
	.h4 Stay tuned and share it with your friends !
	
		