@import "bootstrap";
@import "font-awesome";




$backgroundNav : #FFFFFF;
$backgroundBody : #50E3C2;
$main_color : #FD0E48;
/*$main_color : #2EF2FF;*/


body {
	background: $backgroundBody;
	height: 100%;


}




.jumbotron {
	margin-top: 0px;
	
	background-color: $backgroundBody;
	.h1{
		color: white;
		
	}
	.h3{
		color: white;
	}

	.h6{
		color: white;
	}


}

